@using Codesanook.EFNote.Models
@model Tag
@{
    ViewData["Title"] = "Tag - delete";
}

<div class="main-panel">
    <div class="col-12">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <div class="alert alert-info" role="alert">
                    <i class="fa fa-info"></i>
                    Are you sure you want to delete tag "@Model.Name" which is used by @Model.Notes.Count note(s)?
                </div>
            </div>
            <div class="form-group text-right">
                <button type="submit" class="btn btn-light">
                    <i class="fa fa-check"></i> Yes
                </button>
            </div>
        }
    </div>
</div>
